.header {
  display: grid;
  height: 51px;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 100%;
  max-width: 1230px;
  padding-top: 16px;
  z-index: 10;
}

/* List */

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 10;
}

/* Button */

.menu__button {
  display: none;
}

/* Item */

.menu__item {
  display: flex;
  margin-left: 16px;
}

.menu__icon {
}

.menu__item--contact-icon {
  margin-top: 23px;
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.menu__item--contact-content {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.menu__item--contact-label {
  font-size: 11px;
  line-height: 13px;
  color: #959595;
  text-transform: uppercase;
  display: block;
  margin-bottom: 6px;
}

.menu__item--contact-content-item {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #272727;
}

.menu__item--button {
  height: 46px;
  padding-left: 18px;
  padding-right: 18px;
  text-align: center;
  background-color: #3fa012;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.menu__item--button:hover {
  background-color: #5bbb2f;
  transition: background-color 0.4s;
}

@media screen and (max-width: 850px) {
  .menu__item--contact-label {
    display: none;
  }
  .menu__item {
    align-items: center;
  }
  .menu__item--contact-content {
    align-items: center;
  }
  .menu__item--contact-icon {
    margin-top: 0;
  }
}

@media screen and (max-width: 820px) {
  /* .menu__item-email {
    display: none;
  } */
}
@media screen and (min-width: 784px) {
  .header {
    grid-template-columns: max-content max-content;
    justify-content: space-between;
  }
  .menu__list {
    display: grid;
    grid-auto-flow: column;
    column-gap: 8px;
  }
  .header__menu {
    align-self: center;
  }
}
@media screen and (max-width: 784px) {
  .header {
    margin: 0 0 30px;
  }
  .header__menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .menu {
    display: grid;
  }
  .menu__list {
    display: none;
    background-color: #fff;
    box-shadow: 0 50vh 0 50vh rgb(0 0 0 / 0.4);
  }
  .menu__list--open {
    display: grid;
    row-gap: 8px;
    margin-top: 10px;
    padding: 20px 0 20px 60px;
  }
  .menu__button {
    display: block;
    margin: 0;
    margin-top: 23px;
    margin-right: 23px;
    padding: 0;
    border: none;
    background-color: transparent;
    justify-self: end;
    z-index: 1;
  }
  .menu__icon {
    stroke: #6e6e6e;
    cursor: pointer;
  }
  .menu__icon:hover {
    stroke: rgb(36, 36, 36);
  }
  .menu__icon-menu,
  .menu__button--open .menu__icon-cross {
    display: block;
  }
  .menu__icon-cross,
  .menu__button--open .menu__icon-menu {
    display: none;
  }
  .menu__item {
    margin-bottom: 10px;
  }
  .menu__item-email {
    display: flex;
  }
}
