/* ----------------- */
/*      NAV-BAR      */
/* ----------------- */

.nav-bar {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  /* height: 51px; */
  background-color: white;
  margin-bottom: 30px;
}

.nav-logo {
  max-width: 186px;
  height: 100%;
}

.nav-logo {
  margin-top: 15px;
}

.nav-tagline {
  margin-left: 50px;
  width: 181px;
  font-family: "Gilroy-Regular";
  font-size: 16px;
  line-height: 20px;
  color: #6e6e6e;
  margin-top: 23px;
}

.nav-contact {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 21px;
}

.nav-contact-item {
  display: flex;
  /* align-items: flex-end; */
  margin-right: 30px;
}

.nav-contact-icon {
  margin-top: 23px;
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.nav-contact-content {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.nav-contact-label {
  font-size: 11px;
  line-height: 13px;
  color: #959595;
  text-transform: uppercase;
  display: block;
  margin-bottom: 6px;
}

.nav-contact-content-item {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #272727;
}

.nav-button {
  width: 176px;
  height: 46px;
  margin-top: 20px;
  /* margin-left: 35px; */
  text-align: center;
  background-color: #3fa012;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.nav-button:hover {
  background-color: #5bbb2f;
  transition: background-color 0.4s;
}

@media screen and (max-width: 1050px) {
  .nav-tagline {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .nav-contact-label {
    display: none;
  }
  .nav-contact-item {
    align-items: center;
  }
  .nav-contact-content {
    align-items: center;
  }
  .nav-contact-icon {
    margin-top: 0;
  }
}
