.section10 {
  width: 100%;
  height: 760px;
  background-color: #fff;
}

.s10-green-box {
  position: absolute;
  top: 56px;
  width: calc(100% - 40px);
  height: 100px;
  background: #3fa012;
  border-radius: 40px;
}

.s10-black-box {
  position: absolute;
  top: 50px;
  width: 100%;
  /* height: 100%; */
  min-width: 1230px;
}

.s10-box-cnt {
  position: relative;
  background: #303030;
  border-radius: 40px;
  border-top-left-radius: 0px;
  margin-top: 40px;
  padding: 75px;
  height: 100%;
}

.s10-box-cnt::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  border-top-left-radius: 40px;
  border-left: 1180px solid #303030;
  border-top: 43px solid transparent;
}

.s10-title {
  font-family: "Gilroy-Light";
  font-size: 40px;
  line-height: 130%;
  color: #ffffff;
}
.s10-title .bold {
  font-family: "Gilroy-Medium";
  font-weight: 600;
}
.s10-text {
  margin-top: 20px;
  font-size: 18px;
  line-height: 140%;
}
.s10-trust {
  font-family: "Gilroy-Medium";
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  margin-top: 50px;
}
.s10-slider-cnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
.s10-slider-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23%;
  height: 200px;
  background: #404040;
  border-radius: 20px;
  transition: all 0.7s;
  padding: 20px;
}
.s10__a-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.s10-slide-img {
  width: 100%;
}

.s10-slider-item:hover {
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  transform: translateY(-3px);
}

@media screen and (max-width: 1230px) {
  .s10-green-box {
    width: calc(100% - 120px);
  }
  .s10-black-box {
    width: calc(100% - 80px);
    min-width: 0;
  }
  .s10-box-cnt::after {
    border-left-width: 1000px;
  }
}

@media screen and (max-width: 1150px) {
  .s10-box-cnt::after {
    border-left-width: 900px;
  }
  .s10-slider-item {
    height: 180px;
  }
}
@media screen and (max-width: 1050px) {
  .section10 {
    height: 700px;
  }
  .s10-box-cnt::after {
    border-left-width: 830px;
  }
  .s10-slider-item {
    height: 160px;
  }
}
@media screen and (max-width: 950px) {
  .s10-box-cnt::after {
    border-left-width: 720px;
  }
  .s10-slider-item {
    height: 140px;
    padding: 10px;
  }
}
@media screen and (max-width: 850px) {
  .s10-box-cnt::after {
    border-left-width: 650px;
  }
  .s10-slider-item {
    height: 130px;
  }
  .s10-text {
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  .section10 {
    height: 670px;
  }
  .s10-box-cnt::after {
    border-left-width: 630px;
  }
  .s10-green-box {
    width: calc(100% - 80px);
  }
  .s10-black-box {
    width: calc(100% - 40px);
    min-width: 0;
  }
}
@media screen and (max-width: 750px) {
  .s10-box-cnt::after {
    border-left-width: 550px;
  }
  .s10-title {
    font-size: 32px;
  }
  .s10-slider-item {
    height: 120px;
    padding: 5px;
  }
}
@media screen and (max-width: 650px) {
  .section10 {
    height: 520px;
  }
  .s10-box-cnt::after {
    border-left-width: 520px;
  }
  .s10-box-cnt {
    padding: 40px;
  }
  .s10-title {
    font-size: 32px;
  }
  .s10-slider-item {
    height: 100px;
  }
}
@media screen and (max-width: 600px) {
  .section10 {
    height: 740px;
  }
  .s10-box-cnt::after {
    border-left-width: 470px;
  }
  .s10-slider-cnt {
    flex-wrap: wrap;
  }
  .s10-slider-item {
    width: calc(50% - 20px);
    height: 120px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 20px;
  }
}
@media screen and (max-width: 550px) {
  .s10-box-cnt::after {
    border-left-width: 430px;
  }
  .s10-title {
    font-size: 28px;
  }
}
@media screen and (max-width: 500px) {
  .s10-box-cnt::after {
    border-left-width: 390px;
  }
  .s10-title {
    font-size: 25px;
  }
}
@media screen and (max-width: 460px) {
  .section10 {
    height: 1040px;
  }
  .s10-box-cnt::after {
    border-left-width: 340px;
  }
  .s10-box-cnt {
    padding: 20px 10px 20px 20px;
  }
  .s10-title {
    padding-right: 10px;
  }
  .s10-slider-item {
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    padding: 30px;
  }
  .s10-slide-img {
    width: 70%;
  }
}
@media screen and (max-width: 420px) {
  .section10 {
    height: 1140px;
  }
  .s10-box-cnt::after {
    border-left-width: 300px;
  }
}
@media screen and (max-width: 380px) {
  .s10-box-cnt::after {
    border-left-width: 280px;
  }
  .s10-title {
    font-size: 22px;
  }
  .s10-text {
    font-size: 14px;
  }
}
@media screen and (max-width: 360px) {
  .s10-box-cnt::after {
    border-left-width: 270px;
  }
  .s10-title {
    font-size: 20px;
  }
}
@media screen and (max-width: 352px) {
  .s10-box-cnt::after {
    border-left-width: 250px;
  }
}
@media screen and (max-width: 330px) {
  .s10-box-cnt::after {
    border-left-width: 240px;
  }
}
@media screen and (max-width: 318px) {
  .s10-box-cnt::after {
    border-left-width: 220px;
  }
}
@media screen and (max-width: 290px) {
  .s10-box-cnt::after {
    border-left-width: 200px;
  }
}
