.section8 {
  --length: 160px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 650px;
  margin-top: 120px;
  padding-top: 36px;
}
.s8__rectangle {
  position: absolute;
  top: 0px;
  width: 140%;
  height: 100%;
  margin-left: -50px;
  background: #f3f7f9;
  transform: rotate(-1.5deg);
  overflow-x: clip;
  z-index: -1;
}
.colorEDF3F5 {
  color: #edf3f5;
}
.s8__box {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 950px;
  margin-top: 68px;
}
.s8__box-item {
  display: flex;
  flex-direction: column;
  width: 33%;
  max-width: 185px;
  margin: 0 70px;
}
/* IMAGE ROW */
.s8-img-box {
  position: relative;
  height: 185px;
}
.s8__circle {
  width: var(--length);
  height: var(--length);
  background-color: #bfe1af;
  border-radius: 50%;
}
.s8__img {
  position: absolute;
  width: 110%;
}
.s8__img.calendar {
  top: 0px;
  right: -17px;
}
.s8__img.papers {
  top: 30px;
  right: -17px;
}
.s8__img.folder {
  top: 36px;
  right: -14px;
}

/* Green circle */
.s8__circle-small {
  position: absolute;
  left: 8px;
  bottom: 0;
  width: calc(var(--length) / 4 + 2px);
  height: calc(var(--length) / 4 + 2px);
  border-radius: 50%;
  border: none;
  background-color: #3fa012;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gilroy-Regular";
  font-size: 18px;
  line-height: 130%;
  padding-top: 3px;
}

/* TEXT */
.s8__text-box {
  font-family: "Gilroy-Light";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #272727;
  margin-top: 30px;
}
.s8__text-box--label {
  font-family: "Gilroy-Medium";
  font-weight: 600;
}

@media screen and (max-width: 860px) {
  .s8__box {
    padding: 0 30px;
  }
  .s8__box-item {
    margin: 0 50px;
  }
}
@media screen and (max-width: 800px) {
  .section8 {
    --length: 120px;
    height: 500px;
  }
  .s8__box-item {
    margin: 0 30px;
  }
  .s8__text-box {
    font-size: 16px;
  }
  .s8__circle-small {
    font-size: 15px;
  }
}
@media screen and (max-width: 550px) {
  .section8 {
    --length: 80px;
    height: 400px;
  }
  .s8__box-item {
    margin: 0 10px;
  }
  .s8__text-box {
    font-size: 14px;
  }
  .s8__circle-small {
    font-size: 11px;
  }
  .s8__img.papers {
    top: 17px;
  }
  .s8__img.folder {
    top: 19px;
  }
}
@media screen and (max-width: 470px) {
  .s8__box {
    margin: 0;
    margin-top: 10px;
    padding: 0;
  }
  .s8__text-box {
    font-size: 12px;
  }
}
@media screen and (max-width: 360px) {
  .section8 {
    --length: 120px;
    height: 950px;
  }
  .s8__box {
    flex-direction: column;
    margin: 0;
    margin-top: 10px;
    padding: 0;
  }
  .s8__text-box {
    font-size: 16px;
    max-width: 170px;
    margin-bottom: 30px;
    text-align: center;
  }
  .s8__box-item {
    align-items: center;
    width: 100%;
    max-width: 100%;
  }
}
