.section12 {
  position: relative;
  width: 100%;
  height: 670px;
  margin: 100px auto 0 auto;
  background-color: #303030;
}
.s12-bg {
  position: absolute;
  width: 140%;
  height: 100%;
  background: #303030;
  z-index: -1;
  margin-left: -40px;
}
.s12-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1230px;
  height: 100%;
  margin: 0 auto;
  padding-left: 60px;
}

.s12-left {
  width: 50%;
}

.s12-left-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  font-family: "Gilroy-Regular";
  color: #ffffff;
}

.s12-left-label {
  font-family: "Gilroy-Light";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 130%;
  margin-bottom: 30px;
}
.s12-left-label > .bold {
  font-family: "Gilroy-Medium";
  font-weight: 900;
}
.s12-left-text {
  font-family: "Gilroy-Light";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 30px;
}

.s12-left-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 52px;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background-color: #3fa012;
  border-radius: 8px;
  border: none;
  padding-top: 4px;
  opacity: 1;
  cursor: pointer;
}
.s12-left-btn:hover {
  background-color: #5bbb2f;
  transition: background-color 0.4s;
}

.s12-right {
  position: relative;
  width: 50%;
  height: 100%;
}
.s12-right-box {
}
.s12-img-phone {
  position: absolute;
  left: calc(50% - 125px);
  bottom: 100px;
  width: 70%;
  max-width: 240px;
  z-index: 50;
}
.s12-img-par1 {
  position: absolute;
  top: 20%;
  left: 100px;
}
.s12-img-par2 {
  position: absolute;
  bottom: 20%;
  right: 0px;
}

.s12-img-back {
  position: absolute;
  right: calc(50% - 150px);
  bottom: 0;
  z-index: 10;
}

.s12-el1 {
  position: absolute;
  width: 872px;
  height: 872px;
  top: calc(50% - 436px);
  left: calc(50% - 436px);
  border-radius: 50%;
  border: 45px solid rgba(255, 255, 255, 0.02);
}
.s12-el2 {
  position: absolute;
  width: 692px;
  height: 692px;
  top: calc(50% - 346px);
  left: calc(50% - 346px);
  border-radius: 50%;
  border: 45px solid rgba(255, 255, 255, 0.02);
}

.s12-el3 {
  position: absolute;
  width: 512px;
  height: 512px;
  top: calc(50% - 256px);
  left: calc(50% - 256px);
  border-radius: 50%;
  border: 45px solid rgba(255, 255, 255, 0.02);
}
.s12-el4 {
  position: absolute;
  width: 332px;
  height: 332px;
  top: calc(50% - 166px);
  left: calc(50% - 166px);
  border-radius: 50%;
  border: 45px solid rgba(255, 255, 255, 0.02);
}

@media screen and (max-width: 1100px) {
  .s12-left-label {
    font-size: 45px;
    line-height: 120%;
  }
}
@media screen and (max-width: 1000px) {
  .s12-left-label {
    font-size: 42px;
    line-height: 120%;
  }
}
@media screen and (max-width: 960px) {
  .s12-left-label {
    font-size: 38px;
    line-height: 120%;
  }
}
@media screen and (max-width: 870px) {
  .s12-left-label {
    font-size: 34px;
    line-height: 110%;
  }
}
@media screen and (max-width: 750px) {
  .s12-container {
    padding-left: 30px;
  }
}
@media screen and (max-width: 660px) {
  .section12 {
    height: 570px;
  }
  .s12-left-label {
    font-size: 30px;
  }
  .s12-left-text {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .section12 {
    height: 470px;
  }
  .s12-left-label {
    font-size: 27px;
  }
  .s12-left-text {
    font-size: 15px;
  }
  .s12-img-phone {
    width: 60%;
    left: calc(50% - 87px);
    bottom: 80px;
  }
  .s12-img-back {
    right: calc(50% - 100px);
    width: 80%;
  }
}
@media screen and (max-width: 535px) {
  .s12-left {
    width: calc(100% - 40px);
  }
  .s12-right {
    display: none;
  }
  .s12-left-label {
    font-size: 32px;
  }
}
@media screen and (max-width: 370px) {
  .s12-left-label {
    font-size: 28px;
  }
}
@media screen and (max-width: 330px) {
  .s12-container {
    padding-left: 10px;
  }
  .s12-left {
    width: calc(100% - 20px);
  }
}
@media screen and (max-width: 290px) {
  .s12-left-label {
    font-size: 26px;
  }
}
