.section3 {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 315px;
  margin-top: 154px;
  background: linear-gradient(0deg, #f3f7f9, #f3f7f9);
  border-radius: 20px;
}
.s3-up-block {
  display: flex;
  height: 100%;
  min-height: 100%;
}
.s3-cnt-l {
  width: 65%;
  margin-top: 60px;
  margin-left: 50px;
}

.s3-cnt-title {
  font-family: "Gilroy-Light";
  font-size: 36px;
  line-height: 130%;
  color: #272727;
}
.s3-cnt-title > .bold {
  font-family: "Gilroy-Medium";
  font-weight: 600;
}

.s3-cnt-text {
  font-size: 16px;
  line-height: 150%;
  margin-top: 26px;
  max-width: 520px;
}

.s3-cnt-r {
  position: relative;
  width: 35%;
}
.s3-cnt-r-img {
  position: absolute;
  bottom: 0px;
  max-width: 100%;
}

.s3-img-you {
  position: absolute;
  bottom: -93px;
  left: calc(50% - 95px);
}

/* --=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--= */

@media screen and (max-width: 940px) {
  .s3-cnt-title {
    font-size: 33px;
    line-height: 110%;
  }
}

@media screen and (max-width: 860px) {
  .s3-cnt-title {
    font-size: 28px;
    line-height: 110%;
  }
}

@media screen and (max-width: 780px) {
  .section3 {
    margin-top: 56px;
    border-radius: 0;
    height: 350px;
  }
  .s3-up-block {
    flex-direction: column;
    margin: 64px 10px 0;
  }
  .s3-cnt-l {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .s3-cnt-title {
    text-align: center;
    font-size: 23px;
  }
  .s3-cnt-title > .bold {
    display: block;
    font-size: 26px;
  }
  .s3-cnt-text {
    font-size: 14px;
  }
  .s3-cnt-r {
    display: none;
  }
}
