.section5 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 530px;
  margin-top: 154px;
}

.s5-green-box {
  position: absolute;
  top: 6px;
  width: 90%;
  height: 100px;
  background: #3fa012;
  border-radius: 40px;
}

.s5-black-box {
  position: absolute;
  top: 0px;
  width: 100%;
  min-width: 1230px;
}

.s5-box-cnt {
  position: relative;
  height: 530px;
  background: #303030;
  border-radius: 40px;
  border-top-left-radius: 0px;
  margin-top: 40px;
}
.s5-box-cnt::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  border-top-left-radius: 40px;
  border-left-width: 1180px;
  border-left-style: solid;
  border-left-color: #303030;
  border-top: 43px solid transparent;
}

.s5-title {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 36px;
  line-height: 130%;
  color: #fff;
  z-index: 100;
  margin-top: 80px;
}

.s5-box {
  display: flex;
  width: 80%;
  margin: 60px 40px;
  z-index: 100;
}

.s5-box-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  margin: 0 30px;
}

.s5-box-img {
  width: 70%;
  max-width: 130px;
  margin-bottom: 30px;
}

.s5-row-text {
  margin-top: 30px;
}
.s5-box-text {
  width: 100%;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 1230px) {
  .s5-black-box {
    width: calc(100% - 40px);
    min-width: 0;
  }
  .s5-box-cnt {
    height: 450px;
  }
  .s5-box-cnt::after {
    border-left-width: 1100px;
  }
  .s5-box {
    width: 100%;
  }
  .s5-box-text {
    width: 80%;
    font-size: 13px;
  }
}
@media screen and (max-width: 1150px) {
  .s5-box-cnt::after {
    border-left-width: 1000px;
  }
}
@media screen and (max-width: 1050px) {
  .s5-box-cnt::after {
    border-left-width: 900px;
  }
}
@media screen and (max-width: 950px) {
  .s5-box-cnt::after {
    border-left-width: 800px;
  }
}
@media screen and (max-width: 850px) {
  .s5-box-cnt::after {
    border-left-width: 700px;
  }
}
@media screen and (max-width: 780px) {
  .section5 {
    margin: 0;
    height: 970px;
  }
  .s5-green-box {
    width: calc(90% - 40px);
    top: 19px;
    min-width: 0;
  }
  .s5-box-cnt {
    height: 920px;
  }
  .s5-box-cnt::after {
    border-top: 25px solid transparent;
  }
  .s5-title {
    font-size: 26px;
  }
  .s5-box {
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 30px;
  }
  .s5-box-item {
    width: 100%;
    max-width: fit-content;
    margin: 30px;
  }
}

@media screen and (max-width: 750px) {
  .s5-box-cnt::after {
    border-left-width: 600px;
  }
}
@media screen and (max-width: 650px) {
  .s5-box-cnt::after {
    border-left-width: 500px;
  }
}
@media screen and (max-width: 550px) {
  .s5-box-cnt::after {
    border-left-width: 400px;
  }
}
@media screen and (max-width: 450px) {
  .s5-box-cnt::after {
    border-left-width: 300px;
  }
}
@media screen and (max-width: 350px) {
  .s5-box-cnt::after {
    border-left-width: 250px;
  }
}
