.section2 {
  display: flex;
  flex-direction: column;
  height: 459px;
  margin-top: 200px;
}

.section2-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.section2-content-item {
}
