.section10 {
  width: 100%;
  height: 760px;
  background-color: #fff;
}

.s10-green-box {
  position: absolute;
  top: 56px;
  width: 90%;
  height: 100px;
  background: #3fa012;
  border-radius: 40px;
}

.s10-black-box {
  position: absolute;
  top: 50px;
  width: 100%;
  min-width: 1230px;
}

.s10-box-cnt {
  position: relative;
  height: 650px;
  background: #303030;
  border-radius: 40px;
  border-top-left-radius: 0px;
  margin-top: 40px;
  padding: 75px;
}

.s10-box-cnt::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  border-top-left-radius: 40px;
  border-left: 1180px solid #303030;
  border-top: 43px solid transparent;
}

.s10-title {
  font-family: "Gilroy-Light";
  font-size: 40px;
  line-height: 130%;
  color: #ffffff;
}
.s10-title .bold {
  font-family: "Gilroy-Medium";
  font-weight: 600;
}
.s10-text {
  width: 620px;
  margin-top: 20px;
  font-size: 18px;
  line-height: 140%;
}
.s10-trust {
  font-family: "Gilroy-Medium";
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  margin-top: 50px;
}
.s10-slider-cnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
.s10-slider-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255px;
  height: 200px;
  background: #404040;
  border-radius: 20px;
  transition: all 0.7s;
}

.s10-slider-item:hover {
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  transform: translateY(-3px);
}
