.section6 {
  --radius: 45px;
  --diameter1: 872px;
  --diameter2: calc(var(--diameter1) - var(--radius) * 4);
  --diameter3: calc(var(--diameter2) - var(--radius) * 4);
  --diameter4: calc(var(--diameter3) - var(--radius) * 4);
  --shift-right: 42px;
  --shift-d1: calc(var(--shift-right) + 286px);
  --shift-d2: calc(var(--shift-d1) - var(--radius) * 2);
  --shift-d3: calc(var(--shift-d2) - var(--radius) * 2);
  --shift-d4: calc(var(--shift-d3) - var(--radius) * 2);
  position: relative;
  display: flex;
  justify-content: center;
  height: 530px;
  margin-top: 200px;
}

.s6-left {
  width: 50%;
}

.s6-left-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15%;
  width: 100%;
  max-width: 470px;
  height: 290px;
  font-family: "Gilroy-Regular";
  color: #272727;
}

.s6-left-label {
  font-family: "Gilroy-Light";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 130%;
}
.s6-left-label > .bold {
  font-family: "Gilroy-Medium";
  font-weight: 900;
}
.s6-left-text {
  font-family: "Gilroy-Light";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
}

.s6-left-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 52px;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background-color: #3fa012;
  border-radius: 8px;
  border: none;
  padding-top: 4px;
  opacity: 1;
  cursor: pointer;
}
.s6-left-btn:hover {
  background-color: #5bbb2f;
  transition: background-color 0.4s;
}

.s6-right {
  position: relative;
  width: 50%;
}
.s6-right-box {
}
.s6-right-img {
  position: absolute;
  top: -30px;
  right: 30%;
  z-index: 50;
}
.s6-img-par1 {
  position: absolute;
  top: -60px;
  right: 70%;
}
.s6-img-par2 {
  position: absolute;
  top: 150px;
  right: 5%;
}

.s6-back {
  position: absolute;
  right: calc(30% - var(--shift-right));
  bottom: 0;
  z-index: 10;
}

.s6-el1 {
  position: absolute;
  width: var(--diameter1);
  height: var(--diameter1);
  top: -350px;
  right: calc(30% - var(--shift-d1));
  border-radius: 50%;
  z-index: -9;
  border: var(--radius) solid rgba(0, 0, 0, 0.02);
}
.s6-el2 {
  position: absolute;
  width: var(--diameter2);
  height: var(--diameter2);
  top: -260px;
  right: calc(30% - var(--shift-d2));
  border-radius: 50%;
  z-index: -9;
  border: var(--radius) solid rgba(0, 0, 0, 0.02);
}

.s6-el3 {
  position: absolute;
  width: var(--diameter3);
  height: var(--diameter3);
  top: -170px;
  right: calc(30% - var(--shift-d3));
  border-radius: 50%;
  z-index: -9;
  border: var(--radius) solid rgba(0, 0, 0, 0.02);
}
.s6-el4 {
  position: absolute;
  width: var(--diameter4);
  height: var(--diameter4);
  top: -80px;
  right: calc(30% - var(--shift-d4));
  border-radius: 50%;
  z-index: -9;
  border: var(--radius) solid rgba(0, 0, 0, 0.02);
}

@media screen and (max-width: 1230px) {
  .s6-img-par1 {
    right: 80%;
  }
  .s6-img-par2 {
    right: 0;
  }
}

@media screen and (max-width: 900px) {
  .s6-left-box {
    margin-left: 20px;
  }
  .s6-left-label {
    font-size: 43px;
  }
  .s6-img-par1 {
    right: 90%;
  }
}

@media screen and (max-width: 800px) {
  .s6-left-box {
    margin-left: 10px;
  }
  .s6-left-label {
    font-size: 38px;
  }
  .s6-img-par1 {
    right: 90%;
  }
}
