.section9 {
  --border: 70px;
  --el1: 1230px;
  --el2: calc(var(--el1) - var(--border) * 4);
  --el3: calc(var(--el2) - var(--border) * 4);
  --el4: calc(var(--el3) - var(--border) * 4);
  --top1: 160px;
  --top2: calc(var(--top1) + var(--border) * 2);
  --top3: calc(var(--top2) + var(--border) * 2);
  --top4: calc(var(--top3) + var(--border) * 2);
  --right1: 0px;
  --right2: calc(var(--right1) + var(--border) * 2);
  --right3: calc(var(--right2) + var(--border) * 2);
  --right4: calc(var(--right3) + var(--border) * 2);

  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 870px;
  padding-top: 36px;
  margin-top: 40px;
  margin-bottom: 50px;
  overflow-y: hidden;
}

.s9-cloud {
  position: absolute;
  bottom: 0px;
  left: 0px;
  max-width: 100%;
  z-index: 10;
}

.s9-cnt-block {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.s9-box {
  position: relative;
  width: 50%;
}

.s9-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 260px;
  height: 260px;
  background: #e7eff3;
  border-radius: 50%;
}

.s9-circle-left {
  position: absolute;
  top: 200px;
  left: 70px;
}

.s9-circle-right {
  position: absolute;
  top: 100px;
  right: 100px;
}

.s9-rega {
  position: absolute;
  top: 0px;
  right: 18px;
  width: 57%;
}
.s9-slava-rega {
  position: absolute;
  bottom: -100px;
  left: 25%;
  width: 50%;
}

.s9-slava {
  position: absolute;
  top: 0px;
  left: 11px;
  width: 71%;
}

.s9-label-rega {
  position: absolute;
  top: 470px;
  right: 100px;
  z-index: 12;
}
.s9-label-rega-text {
  position: absolute;
  top: 14px;
  right: -56px;
  width: 200px;
  z-index: 12;
  color: #000;
  font-family: "Gilroy-Light";
}

.s9-label-slava {
  position: absolute;
  top: 470px;
  left: 200px;
  z-index: 12;
}
.s9-label-slava-text {
  position: absolute;
  top: 14px;
  right: -50px;
  width: 200px;
  z-index: 12;
  color: #000;
  font-family: "Gilroy-Light";
}

/* ELLIPSES */

.s9-el1 {
  position: absolute;
  width: var(--el1);
  height: var(--el1);
  top: var(--top1);
  right: var(--right1);
  border-radius: 50%;
  z-index: -9;
  border: var(--border) solid rgba(0, 0, 0, 0.02);
}
.s9-el2 {
  position: absolute;
  width: var(--el2);
  height: var(--el2);
  top: var(--top2);
  right: var(--right2);
  border-radius: 50%;
  z-index: -9;
  border: var(--border) solid rgba(0, 0, 0, 0.02);
}

.s9-el3 {
  position: absolute;
  width: var(--el3);
  height: var(--el3);
  top: var(--top3);
  right: var(--right3);
  border-radius: 50%;
  z-index: -9;
  border: var(--border) solid rgba(0, 0, 0, 0.02);
}
.s9-el4 {
  position: absolute;
  width: var(--el4);
  height: var(--el4);
  top: var(--top4);
  right: var(--right4);
  border-radius: 50%;
  z-index: -9;
  border: var(--border) solid rgba(0, 0, 0, 0.02);
}

@media screen and (max-width: 1230px) {
  .section9 {
    height: 770px;
    --el1: 1110px;
    --border: 60px;
  }
  .s9-circle {
    width: 200px;
    height: 200px;
    font-size: 14px;
  }
  .s9-circle-left {
    left: 100px;
  }
  .s9-circle-right {
    right: 100px;
  }
  .s9-label-slava {
    top: 420px;
  }
  .s9-label-rega {
    top: 420px;
  }
}
@media screen and (max-width: 1100px) {
  .section9 {
    --el1: 980px;
    --border: 50px;
    height: 720px;
  }
  .s9-circle {
    width: 160px;
    height: 160px;
    font-size: 12px;
    padding: 14px;
    top: 80px;
  }
  .s9-label-slava {
    top: 370px;
  }
  .s9-label-rega {
    top: 370px;
  }
}
@media screen and (max-width: 980px) {
  .section9 {
    height: 670px;
    --el1: 930px;
    --border: 45px;
  }
  .s9-circle {
    top: 60px;
  }
  .s9-label-slava {
    top: 320px;
    left: 150px;
  }
  .s9-label-rega {
    top: 320px;
  }
}
@media screen and (max-width: 930px) {
  .section9 {
    height: 620px;
    --el1: 880px;
    --border: 40px;
  }
  .s9-circle {
    top: 30px;
  }
  .s9-slava-rega {
    left: 30%;
    width: 45%;
  }
  .s9-label-slava {
    top: 270px;
  }
  .s9-label-rega {
    top: 270px;
  }
}
@media screen and (max-width: 880px) {
  .section9 {
    height: 570px;
    --el1: 800px;
    --border: 40px;
  }
  .s9-circle {
    top: 20px;
  }
  .s9-circle-left {
    left: 70px;
  }
  .s9-circle-right {
    right: 70px;
  }
  .s9-label-slava {
    top: 220px;
  }
  .s9-label-rega {
    top: 220px;
  }
}
@media screen and (max-width: 830px) {
  .section9 {
    height: 520px;
    --el1: 750px;
    --border: 35px;
  }
  .s9-circle {
    top: 10px;
  }
  .s9-circle-left {
    left: 70px;
  }
  .s9-circle-right {
    right: 50px;
  }
}

@media screen and (max-width: 800px) {
  .section9 {
    --el1: 720px;
    --border: 35px;
  }
  .s9-circle {
    width: 140px;
    height: 140px;
    font-size: 10px;
  }
  .s9-label-slava-text {
    top: 9px;
    right: -44px;
    width: 200px;
    font-size: 12px;
  }
  .s9-label-rega-text {
    top: 9px;
    right: -44px;
    width: 200px;
    font-size: 12px;
  }
  .s9-label-slava {
    top: 240px;
    left: 100px;
  }

  .s9-label-rega {
    top: 240px;
    right: 0;
  }
  .s9__img-label {
    width: 70%;
  }
}

@media screen and (max-width: 750px) {
  .section9 {
    --el1: 670px;
    --border: 32px;
    height: 500px;
  }
  .s9-label-slava {
    top: 270px;
    left: 100px;
  }

  .s9-label-rega {
    top: 270px;
    right: 0;
  }
}
@media screen and (max-width: 700px) {
  .section9 {
    --el1: 620px;
    --border: 35px;
    height: 430px;
  }
  .s9-label-slava {
    top: 200px;
    left: 100px;
  }

  .s9-label-rega {
    top: 200px;
    right: 0;
  }
}
@media screen and (max-width: 650px) {
  .section9 {
    --el1: 570px;
    --border: 32px;
    height: 390px;
  }
  .s9-circle {
    width: 100px;
    height: 100px;
    font-size: 8px;
  }
  .s9-label-slava {
    top: 180px;
    left: 100px;
  }

  .s9-label-rega {
    top: 180px;
    right: 0;
  }
}
@media screen and (max-width: 600px) {
  .section9 {
    --el1: 520px;
    --border: 30px;
  }
  .s9-slava-rega {
    left: 27%;
    width: 50%;
  }
}
@media screen and (max-width: 590px) {
  .s9-slava-rega {
    left: 27%;
    width: 50%;
  }
  .s9-label-slava {
    top: 180px;
    left: 50px;
  }
}
@media screen and (max-width: 550px) {
  .section9 {
    --el1: 470px;
    --border: 28px;
  }
  .s9-circle-left {
    left: 40px;
  }
  .s9-circle-right {
    right: 30px;
  }
  .s9-slava-rega {
    left: 24%;
    width: 55%;
  }
  .s9-label-slava {
    top: 170px;
  }
  .s9-label-rega {
    top: 170px;
  }
}

@media screen and (max-width: 460px) {
  .s9-circle-left {
    left: 20px;
  }
  .s9-circle-right {
    right: 10px;
  }
  .s9-slava-rega {
    left: 24%;
    width: 55%;
  }
  .s9-label-slava-text {
    right: -55px;
  }
  .s9-label-slava {
    top: 170px;
  }
  .s9-label-rega {
    top: 170px;
  }
}
@media screen and (max-width: 440px) {
  .section9 {
    --el1: 360px;
    --border: 25px;
  }
  .s9-circle-left {
    left: 10px;
  }
  .s9-circle-right {
    right: 0px;
  }
  .s9-slava-rega {
    left: 20%;
    width: 60%;
  }
  .s9-label-slava-text {
    right: -71px;
  }
}
@media screen and (max-width: 400px) {
  .s9-circle-left,
  .s9-circle-right {
    display: none;
  }
  .s9-slava-rega {
    left: 14%;
    width: 70%;
  }
  .s9-label-slava-text {
    right: -91px;
  }
}
@media screen and (max-width: 370px) {
  .section9 {
    --el1: 280px;
    --border: 20px;
  }
  .s9-slava-rega {
    left: 12%;
    width: 73%;
  }
  .s9-label-slava-text {
    right: -101px;
  }
}
@media screen and (max-width: 330px) {
  .s9-slava-rega {
    left: 9%;
    width: 86%;
  }
  .s9-label-slava {
    left: 20px;
    width: 100%;
  }
  .s9-label-slava-text {
    right: -62px;
  }
  .s9-label-rega {
    left: 20px;
    width: 100%;
  }
  .s9-label-rega-text {
    right: -46px;
  }
}
