.section3 {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 315px;
  margin-top: 154px;
  background: linear-gradient(0deg, #f3f7f9, #f3f7f9);
  border-radius: 20px;
}
.sec3-cnt-l {
  width: 65%;
  margin-top: 60px;
  margin-left: 50px;
}

.sec3-cnt-title {
  font-family: "Gilroy-Light";
  font-size: 36px;
  line-height: 130%;
  color: #272727;
}
.sec3-cnt-title > .bold {
  font-family: "Gilroy-Medium";
  font-weight: 600;
}

.sec3-cnt-text {
  font-size: 16px;
  line-height: 150%;
  margin-top: 26px;
  max-width: 520px;
}

.sec3-cnt-r {
  width: 35%;
}
.sec3-cnt-r-img {
  position: absolute;
  bottom: 0px;
  right: 40px;
}

.sec3-img-you {
  position: absolute;
  bottom: -93px;
  left: calc(50% - 95px);
}

.sec3-you-tube-cnt {
  position: absolute;
  left: calc(50% - 95px);
  bottom: -100px;
  cursor: pointer;
}

.sec3-you-tube-btn {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 10px solid #e2e9ed;
  /* background-color: #fff; */

  border-top-color: #e2e9ed;
  border-right-color: #e2e9ed;
  border-bottom-color: #e2e9ed;
  border-left-color: #cd2121;
  transform: rotate(-29deg);
}
.sec3-you-tube-btn:hover {
  -moz-animation: three-quarters-loader 1500ms infinite linear;
  -webkit-animation: three-quarters-loader 1500ms infinite linear;
  animation: three-quarters-loader 1500ms infinite linear;
  border-left-color: #e61616;
}

@-webkit-keyframes three-quarters-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.sec3-ytb-box {
  position: relative;
}

.sec3-you-tube-center {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  left: 20px;
  top: 20px;
  background-color: #cd2121;
}
.sec3-you-tube-center:hover {
  background-color: #e61616;
  transition: all 0.5s;
}
.sec3-ytb-hover {
  background-color: #e61616;
  transition: all 0.5s;
}

.sec3-you-tube-btn-img {
  position: absolute;
  top: 53px;
  left: 66px;
}
.sec3-ytb-time {
  position: absolute;
  top: 118px;
  left: 76px;
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
}

/* --=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--= */

.sec3-arrow {
  position: absolute;
  width: 40px;
  bottom: -60px;
  left: calc(50% + 114px);
  /* border: 1px solid rgba(110, 110, 110, 0.2);
  transform: matrix(-0.93, -0.36, -0.36, 0.93, 0, 0); */
}

.sec3-strip-arrow {
  position: absolute;
  bottom: -80px;
  left: calc(50% + 173px);
  color: #6e6e6e;
  max-width: 280px;
}
