.section9 {
  --border: 70px;
  --el1: 1230px;
  --el2: calc(var(--el1) - var(--border) * 4);
  --el3: calc(var(--el2) - var(--border) * 4);
  --el4: calc(var(--el3) - var(--border) * 4);
  --top1: 160px;
  --top2: calc(var(--top1) + var(--border) * 2);
  --top3: calc(var(--top2) + var(--border) * 2);
  --top4: calc(var(--top3) + var(--border) * 2);
  --right1: 0px;
  --right2: calc(var(--right1) + var(--border) * 2);
  --right3: calc(var(--right2) + var(--border) * 2);
  --right4: calc(var(--right3) + var(--border) * 2);

  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 870px;
  padding-top: 36px;
  margin-top: 40px;
}

.s9-cloud {
  position: absolute;
  bottom: 0px;
  left: 0px;
  max-width: 100%;
  z-index: 10;
}

.s9-cnt-block {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.s9-box {
  position: relative;
  width: 50%;
}

.s9-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 260px;
  height: 260px;
  background: #e7eff3;
  border-radius: 50%;
}

.s9-circle-left {
  position: absolute;
  top: 200px;
  left: 0px;
}

.s9-circle-right {
  position: absolute;
  top: 100px;
  right: 0px;
}

.s9-rega {
  position: absolute;
  top: 0px;
  right: 18px;
  width: 57%;
}

.s9-slava {
  position: absolute;
  top: 0px;
  left: 11px;
  width: 71%;
}

.s9-label-rega {
  position: absolute;
  top: 470px;
  right: 100px;
  z-index: 12;
}
.s9-label-rega-text {
  position: absolute;
  top: 14px;
  right: -56px;
  width: 200px;
  z-index: 12;
  color: #000;
  font-family: "Gilroy-Light";
}

.s9-label-slava {
  position: absolute;
  top: 470px;
  left: 200px;
  z-index: 12;
}
.s9-label-slava-text {
  position: absolute;
  top: 14px;
  right: -50px;
  width: 200px;
  z-index: 12;
  color: #000;
  font-family: "Gilroy-Light";
}

/* ELLIPSES */

.s9-el-box {
  position: absolute;
  bottom: 0px;
}

.s9-el1 {
  position: absolute;
  width: var(--el1);
  height: var(--el1);
  top: var(--top1);
  right: var(--right1);
  border-radius: 50%;
  z-index: -9;
  border: var(--border) solid rgba(0, 0, 0, 0.02);
}
.s9-el2 {
  position: absolute;
  width: var(--el2);
  height: var(--el2);
  top: var(--top2);
  right: var(--right2);
  border-radius: 50%;
  z-index: -9;
  border: var(--border) solid rgba(0, 0, 0, 0.02);
}

.s9-el3 {
  position: absolute;
  width: var(--el3);
  height: var(--el3);
  top: var(--top3);
  right: var(--right3);
  border-radius: 50%;
  z-index: -9;
  border: var(--border) solid rgba(0, 0, 0, 0.02);
}
.s9-el4 {
  position: absolute;
  width: var(--el4);
  height: var(--el4);
  top: var(--top4);
  right: var(--right4);
  border-radius: 50%;
  z-index: -9;
  border: var(--border) solid rgba(0, 0, 0, 0.02);
}

@media screen and (max-width: 1230px) {
  .section9 {
    height: 770px;
    --el1: 1110px;
    --border: 60px;
  }
  .s9-circle {
    width: 200px;
    height: 200px;
    font-size: 14px;
  }
  .s9-circle-left {
    left: 30px;
  }
  .s9-label-slava {
    top: 420px;
  }
  .s9-label-rega {
    top: 420px;
  }
}
@media screen and (max-width: 1100px) {
  .section9 {
    --el1: 980px;
    --border: 50px;
    height: 720px;
  }
  .s9-circle {
    width: 160px;
    height: 160px;
    font-size: 12px;
    padding: 14px;
    top: 80px;
  }
  .s9-label-slava {
    top: 370px;
  }
  .s9-label-rega {
    top: 370px;
  }
}
@media screen and (max-width: 980px) {
  .section9 {
    height: 670px;
    --el1: 930px;
    --border: 45px;
  }
  .s9-circle {
    top: 60px;
  }
  .s9-label-slava {
    top: 320px;
    left: 150px;
  }
  .s9-label-rega {
    top: 320px;
  }
}
@media screen and (max-width: 930px) {
  .section9 {
    height: 620px;
    --el1: 880px;
    --border: 40px;
  }
  .s9-circle {
    top: 30px;
  }
  .s9-label-slava {
    top: 270px;
  }
  .s9-label-rega {
    top: 270px;
  }
}
@media screen and (max-width: 880px) {
  .section9 {
    height: 570px;
    --el1: 800px;
    --border: 40px;
  }
  .s9-circle {
    top: 20px;
  }
  .s9-label-slava {
    top: 220px;
  }
  .s9-label-rega {
    top: 220px;
  }
}
@media screen and (max-width: 830px) {
  .section9 {
    height: 520px;
  }
  .s9-circle {
    top: 10px;
  }
}
