@font-face {
  font-family: "Gilroy-Light";
  src: url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Gilroy-Regular";
  background-color: white;
}

h1 {
  font-weight: normal;
}

.wrap {
  width: 100%;
  max-width: 100%;
  margin: auto;
  overflow-x: hidden;
}
.container {
  width: 100%;
  max-width: 1230px;
  margin: auto;
  position: relative;
}

.grow {
  flex: 1;
}
.to-course {
  text-decoration: none;
}

@media screen and (max-width: 1230px) {
  .container {
    padding: 0 40px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    padding: 0 10px;
  }
}

/* ----------------- */
/*        FLEX       */
/* ----------------- */

.flex {
  display: flex;
}
.row {
  flex-direction: row !important;
}
.flex-left {
  align-items: flex-start !important;
}
.column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-space-between {
  justify-content: space-between;
}
