@font-face {
  font-family: "Gilroy-Light";
  src: url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Gilroy-Regular";
  background-color: white;
}

h1 {
  font-weight: normal;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: auto;
  position: relative;
}

.grow {
  flex: 1;
}
.to-course {
  text-decoration: none;
}

/* ----------------- */
/*        FLEX       */
/* ----------------- */

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-space-between {
  justify-content: space-between;
}

/* ----------------- */
/*       TITLE       */
/* ----------------- */

.title-cnt {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.title-substrate {
  font-family: "Gilroy-Bold";
  font-weight: bold;
  font-size: 110px;
  line-height: 130%;
  color: #f7f7f7;
}

.title-text {
  font-family: "Gilroy-Light";
  /* font-weight: 400; */
  font-size: 36px;
  line-height: 130%;
  color: #272727;
  position: absolute;
  top: 68px;
}

.title-text > .bold {
  font-family: "Gilroy-Medium";
  font-weight: 600;
}
